// https://github.com/twbs/bootstrap-rubygem#a-ruby-on-rails
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "select2";
@import "select2-bootstrap";
@import "bootstrap";

.select2-selection { height: calc(2.25rem + 2px) !important; }
select { visibility: hidden; }
.select2-selection__placeholder {
  font-size: 1rem;
  line-height: 1.5;
  color: #6c757d !important;
}