// https://github.com/twbs/bootstrap-rubygem#a-ruby-on-rails
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "select2";
@import "select2-bootstrap";
@import "bootstrap";

.select2 {
  width: 100% !important;
  height: calc(2.25rem + 2px) !important;
  border-color: #ced4da !important;
}